
# CLion folder
.idea/

# CMake
cmake-build-*/

# Visual Studio

# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Files
Debug
Release
*.suo
*.csproj.user
*.vbproj.user
ipch
*sdf
.vs/
*.opendb
*.db
*.sln
*.filters
*.user
*.vcxproj

# Exclude large logs!!!
*.log

# Project specific files and directories
LightDataExample.txt
glad.c
stb_image.h
models/
skybox/